* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
nav {
    background: #9393d4;
}
ul {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    list-style: none;
}
li {
    list-style: none;
    display: inline-block;
    padding: 13px;
    font-weight: bold;
}
li :hover {
    background: #e0b6b6;
   cursor: pointer;
}